/* MAIN */
body {
    background-color: #DC1A7B;
}

:root {
    --ratio: 1.0;
}

/* END OF MAIN */
/* TODO COMPONENT  */
.addTask {
    border: none;
    border-radius: 50%;
    background-color: cornflowerblue;
    color: white;
    height: 80px;
    width: 80px;
    position: relative;
    left: 40%;
    margin-top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.taskInput {
    position: absolute;
    top: 50%;
    left: 16%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 63%;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: white;
}

.taskInput:focus {
    border: none;
    outline: none;
}

.submit {
    border: none;
    background-color: #DC1A7B;
    color: white;
    height: 40px;
    width: 31%;
    position: absolute;
    left: 31%;
    top: 67%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: lighter;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin: 17%;
    font-size: 30px;
    font-weight: bold;
    margin-left: 30%;
    color: white;
}

.form-background {
    width: 77%;
    height: 87%;
    margin: auto;
    display: flex;
    background-color: #eb4f9d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.timer-icon {
    position: relative;
    right: 50px;
}

.error-panel {
    width: 400px;
    height: 156px;
    position: absolute;
    background-color: #eeb9b9de;
    left: 11%;
    top: 29%;
    border-radius: 17px;
}

.error-icon {
    position: absolute;
    bottom: 90px;
    width: 70px;
    height: 50px;
    left: 40%;
}

.error-message {
    top: 60%;
    position: absolute;
    left: 21%;
    font-size: 21px;
    font-weight: 300;
}
/* END OF TODO COMPONENT */

/* TIMER COMPONENT */
.clock {
    width: 150px;
    height: 150px;
    position: relative;
    padding: 5rem;
    top: 75px;
    border: 7px solid #2e3047;
    box-shadow: -4px -4px 10px rgb(143 142 142 / 50%), 
                inset 4px 4px 10px rgb(20 20 20 / 50%), 
                inset -4px -4px 10px rgb(111 101 101 / 50%), 
                4px 4px 10px rgb(51 51 51 / 30%);
    border-radius: 50%;
    margin: 50px auto;
    clip-path: circle(50%);
}

.clock::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: conic-gradient(#f9f9f9 0 calc(var(--ratio) * 360deg), #ff6962 calc(var(--ratio) * 360deg) 360deg);
    z-index: -2;
    border-radius: 50%;
}

.clock::after {
    content: '';
    position: absolute;
    width: 98%;
    height: 98%;
    top: 1%;
    left: 1%;
    box-shadow: -4px -4px 10px rgb(143 142 142 / 50%), inset 4px 4px 10px rgb(20 20 20 / 50%), inset -4px -4px 10px rgb(111 101 101 / 50%), 4px 4px 10px rgb(51 51 51 / 30%);
    border-radius: 50%;
    background-color: rgb(20 20 20 / 50%);
    z-index: -1;
}


.outer-clock-face {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: #2e3047;
    overflow: hidden;
    top: -76px;
    left: -76px;
}

.outer-clock-face::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg)
}

.outer-clock-face::before,
.outer-clock-face::after,
.outer-clock-face .marking {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: #ffabab;
    z-index: 0;
    left: 49%;
}

.outer-clock-face .marking {
    background: #bdbdcb;
    width: 3px;
}

.outer-clock-face .marking.marking-one {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg)
}

.outer-clock-face .marking.marking-two {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg)
}

.outer-clock-face .marking.marking-three {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    transform: rotate(120deg)
}

.outer-clock-face .marking.marking-four {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    transform: rotate(150deg)
}

.inner-clock-face {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: #2e3047;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
}

.inner-clock-face::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    z-index: 11;
}

.startAgain {
    position: relative;
    margin-top: 50px;
    left: 180px;
    width: 100px;
    height: 40px;
    border-radius: 10%;
    background-color: transparent;
    border: solid;
    color: white;
    font-size: 17px;
}

.hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: #afcbff;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.0, 1, 0.58, 1);
}

.hand.min-hand {
    height: 3px;
    z-index: 10;
    width: 40%;
  }
/* END OF TIMER COMPONENT */